@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
body {
  margin: 0;
  font-family: "helvetica";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, rgb(33, 19, 19) , rgb(48, 48, 144));
}
  
code {
  font-family: "Satisfy", cursive;
}
  
.rock {
  background-image: linear-gradient(to right, red , blue);
}
  
.ghost {
  background-image: linear-gradient(to right, red , blue);
}
  
.electric {
  background-image: linear-gradient(
    to right, #f83600 0%, #f9d423 100%);
}
  
.bug {
  background-image: linear-gradient(
    to top, yellow, blue);
}
  
.poison {
  background-image: linear-gradient(
    to top, #df89b5 0%, #bfd9fe 100%);
}
  
.normal {
  background-image: linear-gradient(
    -225deg, #e3fdf5 0%, #ffe6fa 100%);
}
  
.fairy {
  background-image: linear-gradient(
    to top,
    #ff9a9e 0%,
    #fecfef 99%,
    #fecfef 100%
  );
}
  
.fire {
  background-image: linear-gradient(to right, pink , blue);
}
  
.grass {
  background-image: linear-gradient( to right, white, black);
    
}
  
.water {
  background-image: linear-gradient( to right, green, indigo);
}
  
.ground {
  background-image: linear-gradient( to right, violet, green);
}
  
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 3rem 1rem;
}
  
.app-container h1 {
  width: 0ch;
  color: rgb(16, 166, 236);
  white-space: nowrap;
  animation: text 4s steps(15) infinite alternate;
}
  
@keyframes text {
  0% {
    width: 0ch;
  }
  50% {
    width: 15ch;
    color: rgb(218, 55, 5);
  }
}
  
.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
.all-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
  
.thumb-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  margin: 1.5rem;
  border: 1px solid #efefef;
  border-radius: 2rem;
  min-width: 10px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
}
  
.thumb-container :hover {
  margin: 0.7rem 0;
}
  
h3 {
  margin-bottom: 0.2rem;
}
  
.thumb-container .number {
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  background-color: rgba(255, 255, 255, 0.3);
}
  
.thumb-container img {
  width: 80px;
  height: 80px;
}
  
.thumb-container small {
  text-transform: capitalize;
}
  
.detail-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
  
.detail-wrapper button {
  color: rgb(22, 22, 22);
  padding: 0.5rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.2rem;
  background-color: rgba(131, 17, 17, 0.185);
}
  
.load-more {
  background-color: #d6e5ea;
  border-radius: 6px;
  border: 1px solid #c6c6c6;
  color: #444;
  padding: 0.5rem 1.5rem;
  min-width: 20%;
  margin-top: 1rem;
  font-family: "arial", cursive;
}
  
button:hover {
  background-color: #ff0000;
  background-image: linear-gradient(
    315deg, #ff0000 0%, #ffed00 74%);
}
  
.pokeinfo {
  margin: 0 25px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(
    180deg, #2af598 0%, #009efd 100%);
}
  
.pokeinfo:hover {
  background-image: linear-gradient(
    -20deg,
    #ddd6f3 0%,
    #faaca8 100%,
    #faaca8 100%
  );
}
  
h3 {
  text-decoration: underline;
}
